<div class='sidebar'>
<a href=''>Fiche de</a>
<a href=''>Planning de mon Minus</a>
<a href=''>Journal de mon Minus</a>
<a href=''>Petits mots</a>
<a href=''>Reçus</a>
<a href=''>A envoyer</a>
<a href=''>Envoyés</a>
</div>