<div class='sidebar'>
<a href="{{ path('app_daily_planning') }}" class="nav-link">Suivi quotidien des Minus</a>
<a href="">Petits Mots</a>
<a href="">Reçus</a>
<a href="">Envoyés</a>
<a href="">A envoyer</a>
<a href="">Fiche des Minus</a>
<a href="">Journaux des Minus</a>
<a href="">Force Rouge</a>
<a href="">Force Bleue</a>
<a href="">Force Verte</a>
</div>