<div class="sidebar">
<a href="{{ path('app_admin_dashboardChild') }}">Fiche des Minus</a>
<a href="">Suivi quotidien des Minus  </a>
<a href="">Journaux des Minus</a>
<a href="">Semaine des Minus</a>
<a href="">Petits Mots</a>
<a href="">Reçus</a>
<a href="">Envoyés</a>
<a href="">A envoyer</a>
<a href="">Gestion des rôles</a>
<a href="{{ path('app_child_new') }}">Créer un profil enfant</a>
</div>