{% extends 'base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %}Nouveau Minus{% endblock %}

{% block body %}
  
    <h1 class="titre first"><img src="{{ asset('Decor/Mask_group__2_-removebg-preview.png') }}" alt="fleur" />Créer un Minus</h1>
  

    {{ include('child/_form.html.twig') }}

{% endblock %}
