{% extends 'base.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block body %}
    <div id="accueilAdmin">
        <h1>Accueil Espace Admin</h1>
        <h1>Bienvenue, {{ app.user.firstname }}</h1>
    </div>
{% endblock %}

