{% extends 'base.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block body %}
    <div id="accueilAdmin">
        <h1><img src="{{ asset('Decor/Mask_group__2_-removebg-preview.png') }}" alt="fleur" />Accueil Espace Admin<img src="{{ asset('Decor/Mask_group__2_-removebg-preview.png') }}" alt="fleur" /></h1>
        <h1 class="dateDuJour">{{ dateDuJour|capitalize }}</h1>
        <div id="clock"></div>
        </div>
{% endblock %}

