{% extends 'base.html.twig' %}

{% block title %}Journal index{% endblock %}

{% block body %}
    <h1>Journal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Enfants</th>
                <th>Date</th>
                <th>Meal</th>
                <th>Nap</th>
                <th>Diaper_time</th>
                <th>Diaper_type</th>
                <th>Activity</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <p>Page journaux en construction.</p>
        </tbody>
    </table>

    <a href="{{ path('app_journal_new', { presenceId: presence.id }) }}">Create new</a>
{% endblock %}
