<form method="post" action="{{ path('app_child_presence_delete', {'id': presence.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presence.id) }}">
    <button type="submit">Test suppression</button>
</form>


